@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h3 class="display-7" style="text-align: justify;">
        DairyExpress Platform can be the greatest blessing for the
        customer’s everyday morning needs
        of dairy products. With this platform customer can register and order their daily requirements of dairy products
        and receives assured delivery at the desire time every day at their doorstep.</h3>
</div>