@{
    ViewData["Title"] = "Insert Page";
}
<div>
    <form action="/Student/Insert" method="post">
        <label for="roll">Enter Roll No : </label>
        <input type="number" name="roll" id="roll" />
        <br><br>
        <label for="name">Enter Name : </label>
        <input type="text" name="name" id="name" />
        <br><br>
        <label for="email">Enter Email : </label>
        <input type="email" name="email" id="email" />
        <br><br>
        <label for="city">Enter City : </label>
        <input type="text" name="city" id="city" />
        <br><br>
        <input type="submit">
    </form>
</div>
