@{
    ViewData["Title"] = "Portal Page";
}

<div class="text-center">
    <h1 class="display-4">Student Portal</h1>
    <button><a href="/Student/Insert">Insert</a></button>
    <button>Update</button>
    <button>Delete</button>
    <button><a href="/Student/Display">Display</a></button>
</div>
