@{
    ViewData["Title"] = "Portal Page";
}

<div class="text-center">
    <h1 class="display-6">Student Portal</h1>
    <button><a href="/Student/Insert">Insert</a></button>
    <button><a href="/Student/Update">Update</a></button>
    <button><a href="/Student/Display">Display</a></button>
</div>
