@{
    ViewData["Title"] = "Login Page";
}
<div>
    <h1>Login</h1>
    <form action="/User/Login" method="post">
    Email : <input type="email" name="email"> <br><br>
    Password : <input type="password" name="password"> <br> <br> 
    <input type="submit">
    </form>
</div>