@{
    ViewData["Title"] = "Portal Page";
}

<div class="text-center">
    <h1 class="display-6">User Portal</h1>
    <button><a href="/User/Login">Login</a></button>
    <button><a href="/User/Register">Register</a></button>
</div>
