@{
    ViewData["Title"] = "Register Page";
}
<div>
    <h1>Login</h1>
    <form action="/User/Register" method="post">
    Name : <input type="text" name="name"> <br><br>
    Email : <input type="email" name="email"> <br><br>
    Password : <input type="password" name="password"> <br> <br> 
    <input type="submit">
    </form>
</div>