@using BOL;
@{
    ViewData["Title"] = "Catalog Page";
}
<div>
    @{
        <button><a href="/Product/Insert">Insert</a></button>
        List<Product> products = (List<Product>)ViewData["products"];
        <ol>
            @foreach (Product product in products)
            {
                <li>
                    <a href="/Product/detail/@product.Id" style="font-size:large;">@product.Name</a> &nbsp; &nbsp;
                    <button style="background-color: cyan;"><a href="/Product/Update/@product.Id">Update</a></button>&nbsp; &nbsp; 
                    <button style="background-color: skyblue;"><a href="/Product/Delete/@product.Id">Delete</a></button>
                    <br> <br>
                </li>
            }
        </ol>
    }
</div>