@{
    ViewData["Title"] = "Welcome Page";
}
<script>
    alert("Login Succesfull");
</script>
<div class="text-center">
    <h1>Welcome to DairyExpress</h1>
    <img src="/images/Dairy-Products.jpeg" width="400" height="400" />
</div>