@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h5 class="display-6">Login</h5>
    <form action="postlogin">
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email">
        <br> <br>
        <label for="password">Password : </label>
        <input type="password" name="password" id="password" placeholder="Enter Your Password">
        <br> <br>
        <input type="submit">
    </form>
</div>
